<button type="button"  class="button-input {{ data.class_name }}" tabindex="" id="{{ data.id }}" >
    <span class="button-input-inner ">
        <span class="button-input-inner__text">{{ data.text }}</span>
    </span>
</button>